# Корневой
POSTGRES_DB=tec_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password


# Backend
AppSettings__Token=VERY_LONG_SUPER_SECRET_KEY
ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=tec_db;Username=postgres;Password=pass;
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080

#Frontend
# Для серверных запросов Next.js (SSR / Server Components) внутри Docker-сети
API_URL=http://tec_api:8080/api

# Для клиентских запросов из браузера (клиентские хуки, useEffect, fetch в onClick)
NEXT_PUBLIC_API_URL=https://btec.kg/api-backend